---
title: "Event Position Assigned"
---

<x-main>
  <div class="text-black">
    <table class="w-full">
      <tr>
        <td class="p-6 text-center bg-gray-600 rounded">
          <h3 class="m-0 mb-12 text-2xl text-white leading-24">
            {Name}
          </h3>
          <div class="m-0 mb-12 text-base text-white">
            <h4 class="text-center">Position: {Position}</h4>
            <h4 class="text-center">Start: {Start}</h4>
            <h4 class="text-center">End: {End}</h4>
          </div>
          <a href="{Link}" class="px-4 py-2 font-bold text-white no-underline bg-blue-600 rounded hover:bg-blue-700">
            View Event
          </a>
          <p class="mt-12 text-center text-white text-md">
            If you have any questions, please contact the Memphis ARTCC Events Coordinator: <a href="mailto:ec@memphisartcc.com">ec@memphisartcc.com</a>.
          </p>
        </td>
      </tr>
    </table>
  </div>
</x-main>
